<!-- <div class="container-fluid " >
  {{isSelected}}
  <div class="row">
    
      <div class="col-3">
        <h3 [hidden]="!ishidden(0)">text is showing</h3>
        <p>hiii</p>
        <button class="btn btn-primary" (click)="onclick(0)">click me</button>
      </div>
      <div class="col-3">
        <h3 [hidden]="!ishidden(1)">text is showing</h3>
        <p>Hello</p>
        <button class="btn btn-primary" (click)="onclick(1)">click me</button>
      </div>
      <div class="col-3">
        <h3 [hidden]="!ishidden(2)">text is showing</h3>
        <p>bye</p>
        <button class="btn btn-primary" (click)="onclick(2)">click me</button>
      </div>
      <div class="col-3">
        <h3 [hidden]="!ishidden(3)">text is showing</h3>
        <p>Goodnight</p>
        <button class="btn btn-primary" (click)="onclick(3)">click me</button>
      </div>
  </div>
</div> -->
<div class="container-fluid " >
  {{isSelected}}
  <div class="row">
    
      <div class="col-3">
        <h3  [hidden]="!(isSelected==0) ">text is showing</h3>
        <p>hiii</p>
        <button [disabled]="isSelected==-1?false:!(isSelected==0)" class="btn btn-primary" (click)="onclick(0,$event)">{{isSelected==0?btnText:showBtnText}}</button>
      </div>
      <div class="col-3">
        <h3 [hidden]="!(isSelected==1)">text is showing</h3>
        <p>Hello</p>
        <button [disabled]="isSelected==-1?false:!(isSelected==1)" class="btn btn-primary" (click)="onclick(1,$event)">{{isSelected==1?btnText:showBtnText}}</button>
      </div>
      <div class="col-3">
        <h3 [hidden]="!(isSelected==2)">text is showing</h3>
        <p>bye</p>
        <button [disabled]="isSelected==-1?false:!(isSelected==2)" class="btn btn-primary" (click)="onclick(2,$event)">{{isSelected==2?btnText:showBtnText}}</button>
      </div>
      <div class="col-3">
        <h3 [hidden]="!(isSelected==3)">text is showing</h3>
        <p>Goodnight</p>
        <button [disabled]="isSelected==-1?false:!(isSelected==3)" class="btn btn-primary" (click)="onclick(3,$event)">{{isSelected==3?btnText:showBtnText}}</button>
      </div>
  </div>
</div>